@model List<bonachat.Models.SourceBon>
<h2>Sources :</h2>
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Code</th>
            <th>Libelle</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var SourceBon in Model)
        {
            <tr>
                <td>@SourceBon.Code</td>
                <td>@SourceBon.Libelle</td>
            </tr>
        }
    </tbody>
</table>
